<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center p-4">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-4xl">
      <div class="flex justify-between items-center mb-4">
        <button routerLink="/" class="text-blue-500 hover:text-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
        </button>
        <h1 class="text-2xl font-bold text-gray-800">Video Recorder</h1>
      </div>
  
      <video *ngIf="isRecording!=='over'" #video [srcObject]="localStream" autoplay class="w-full h-96 bg-black mb-4 rounded-lg"></video>
      <video *ngIf="isRecording==='over'" class="w-full h-96 bg-black mb-4 rounded-lg" #player [src]="localStream" (play)="onPlay()" (pause)="onPause()" (ended)="onPause()"></video>
      
      <div *ngIf="isRecording!=='over'" class="flex justify-center space-x-4 items-center">
        <span>{{isRecording === 'recording' ? '录制中' : ''}}</span>
        <button *ngIf="isRecording==='inactive'" (click)="getStream(streamType === 'screen' ? 'camera' : 'screen')" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            {{ streamType==='screen' ? '摄像头录制' : '屏幕录制' }}
        </button>
        <button (click)="isRecording ==='inactive' ? recordStart() : recordStop()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            {{ isRecording ==='inactive' ? '开始' : '结束' }}
        </button>
      </div>
      <div *ngIf="isRecording==='over'" class="flex justify-center space-x-4">
        <button (click)="reRecord()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            重新录制
        </button>
        <button (click)="playing ? playStop() : play()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            {{ !playing ? '播放' : '暂停' }}
        </button>
        <button [ngClass]="{'bg-gray-500': downloading}" (click)="download()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">下载</button>
      </div>
    </div>
  </div>